<template lang="pug">
Card(
    :title="title"
    :subTitle="walletAddress"
    :icons="icons"
    @icon-click="onIconClick"
)
    img(slot="img" :src="imgUrl")
</template>


<script>
import Card from "@/layouts/dashboard/components/Card.vue";

export default {
    data: ()=> ({
        title: '지갑',
        imgUrl: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
        icons: [
            { name:'qrcode', class:"fas fa-qrcode"},
            { name:'copy', class:"far fa-copy"}
        ],
    }),
    methods: {
        onIconClick: function(index){
            if(index===0) {
                this.onDialog();
            } else if(index===1) {
                this.$emit("wallet-copy");
            }
        }
    },
    props: {
        onDialog: Function,
        walletAddress: {
            type: String,
            default: ""
        }
    },
    components:{
        Card
    }
}
</script>
