<template lang="pug">
Card(
    :title="title"
    :subTitle="getEth"
    :icons="icons"
    @icon-click="onIconClick"
)
    v-icon(
        dark
        slot="img"
        class="fas fa-wallet"
    )


</template>


<script>
import { WEB3 } from "@/constants/store";
import { mapState, mapActions } from "vuex";
import Card from "@/layouts/dashboard/components/Card.vue";

export default {
    data: ()=> ({
        title: '잔고',
        imgUrl: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
        icons: [
            { name:'sync', class:"fas fa-sync"},
        ]
    }),
    computed: {
        ...mapState({
            balance: state => state.web3.balance
        }),

        getEth: function() {
            return String(this.balance) + " Eth";
        }
    },
    methods: {
        ...mapActions("web3",[
            WEB3.ACTIONS.REFRESH_BALANCE
        ]),
        onIconClick: function(index){
            if(index===0) {
               this[WEB3.ACTIONS.REFRESH_BALANCE]()
               .then(()=>{
                   alert("refresh");
               })
               .catch((err)=>{
                   alert(err);
               });
            }
        }
    },
    components:{
        Card
    }
}
</script>
