<template lang="pug">
v-form
    v-layout(wrap row)
        v-flex(xs12 md6)
            v-container
                v-layout( column)
                    h2 Type
                    v-select(
                        :items="items"
                        solo
                        v-model="select"
                    )
        v-flex(xs12 md6)
            v-container
                v-layout( column)
                    h2 액수
                    v-text-field(
                        solo
                        color='blue-grey lighten-2'
                        v-model="balance"
                    )
        v-flex(xs12)
            v-container.fluid
                v-layout( column)
                    h2 수신주소
                    v-text-field(
                        solo
                        color='blue-grey lighten-2'
                        v-model="to"
                    )
        v-flex(xs12)
            v-container(
                text-xs-center
                fluid
            )
                v-btn(
                    large
                    color="info"
                    @click="sendTransaction"
                )
                    | 트랜젝션 발신
</template>

<script>
import { WEB3 } from "@/constants/store";
import { mapActions } from "vuex";

export default {
    data: () => ({
        items: ["eth"],
        to: "",
        balance: "0",
        select: ""
    }), 
    methods: {
        ...mapActions("web3",[
            WEB3.ACTIONS.SEND_COIN
        ]),
        sendTransaction: function() {
            console.log(this.select);
            this[WEB3.ACTIONS.SEND_COIN]({
                to: this.to,
                value: this.balance,
            })
            .then((hash)=> {
                alert(hash);
            })
            .catch((err)=>{
                alert(err);
            })
        }
    }
}
</script>
