<template lang="pug">
v-form(@submit.prevent="onSubmit")
    v-card
        v-card-title
            span.headline Signup
        v-card-text
            v-container(grid-list-md='')
            v-layout(wrap='')
                v-flex(xs12)
                v-text-field(v-model="email" label='Email', name="email" required)
                v-flex(xs12)
                v-text-field(v-model="username" label='Username', name="username" required) 
                v-flex(xs12)
                v-text-field(v-model="password" label='Password*', name="password" type='password', required='')
                v-flex(xs12)
                v-text-field(v-model="passwordVerify" label='Password*', name="passwordVerify" type='password', required='')
            small *indicates required field
            v-alert(
                :value="error.isVisible"
                color="error"
            ) {{ error.message }}
        v-card-actions
            v-spacer
            v-btn(color='blue darken-1', flat='', @click="onCancelClick") cancel
            v-btn(color='blue darken-1', flat='', type="submit") submit
</template>

<script>
import { CREATE_USER_MUTATION } from "@/constants/graphql"

export default {
    data: () => ({
        email: "",
        username: "",
        password: "",
        passwordVerify: "",
        error: {
            isVisible: false,
            message: "",
        }
    }),
    methods: {
        onCancelClick: function() {
            this.$emit("event-cancel");
        },
        onSubmit: async function() {
            const { email, username, password, passwordVerify} = this;

            if(password !== passwordVerify) {
                this.onError("비밀번호와 비밀번호 확인이 서로 매치되지 않습니다.");
                return;
            }

            try {
                const response = await this.$apollo.mutate({
                    mutation: CREATE_USER_MUTATION,
                    variables: {
                        email,
                        username,
                        password
                    }
                });

                localStorage.setItem("token",response.data.signup);
                this.$emit("event-signup");

            } catch(err) {
                this.onError(err.graphQLErrors[0].message);
            }
        },
        onError: function(message) {
            this.error.isVisible = true;
            this.error.message = message;
        }
    }
}
</script>

<style lang="sass" scoped>

</style>
