<template lang="pug">
  v-flex(xs12 sm8 md4)
    v-card.elevation-12
      v-toolbar(dark align-center  justify-center color='primary')
        v-toolbar-title Wallet
        v-spacer
        slot
      v-card-text
        v-form( @submit.prevent="onSubmit")
          v-text-field(v-model="email" prepend-icon='person', name='login', label='Login', type='text')
          v-text-field#password(v-model="password" prepend-icon='lock', name='password', label='Password', type='password')
          v-alert(
            :value="error.isVisible"
            color="error"
          ) {{ error.message }}
          v-card
            v-btn(:loading="loading" :disable="loading" block color='primary' type="submit") Login  
</template>

<script>
  import { LOGIN_USER_MUTATION } from "@/constants/graphql"

  export default {
    name: "UserLoginForm" ,
    data: () => ({
      email: "",
      password: "",
      loading: false,
      error: {
        isVisible: false,
        message: ""
      }
    }),
    methods: {
      onSubmit: async function() {
        const { email, password  } = this;
        let { loading, error } = this;
        
        if(loading) return;
        loading = true;
        
        try {
          const response = await this.$apollo.mutate({
            mutation: LOGIN_USER_MUTATION,
            variables: {
                email,
                password
            }
          });

          localStorage.setItem("token",response.data.login);
          this.$emit("event-login");
        } catch(err) {
          error.isVisible = true;
          error.message = err.graphQLErrors[0].message;
        } finally {
          loading = false;
        }
      }
    }
  }
</script>
