<template lang="pug">
v-navigation-drawer(
    v-model='drawer'
    :mini-variant='mini' 
    fixed 
    dark
    clipped
    app
    width="260"
)
  v-list.pa-1
    v-list-tile(
        v-if='mini'
        @click.stop='mini = !mini'
    )
      v-list-tile-action
        v-icon chevron_right
    v-list-tile(
        avatar
        tag='div'
    )
      v-list-tile-avatar
        img(:src="imageUrl")
      v-list-tile-content
        v-list-tile-title {{username}}
      v-list-tile-action
        v-btn(
            icon
            @click.stop='mini = !mini'
        )
          v-icon chevron_left
  v-list.pt-0(dense='')
    v-divider(light='')
    v-list-tile(
        v-for='item in items'
        :key='item.title'
        :to ="item.to"
        dark
    )
      v-list-tile-action
        v-icon {{ item.icon }}
      v-list-tile-content
        v-list-tile-title {{ item.title }}
</template>

<script>
export default {
    name:"dashboard-drawer",
    data: function() {
        return {
            mini: this.miniable,
            right: null
        };
    },
    props: {
        imageUrl: String,
        username: String,
        /* 
            {
                title: {
                    type: String
                },
                icon: {
                    type: String
                },
                to: {
                    type: String
                }
            }
         */
        items: Array,
        visible: {
            type: Boolean,
            default: true
        },
        miniable: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        drawer: {
            get() {
                return this.visible;
            },
            set(val) {
                if(val!==this.visible) {
                    this.$emit("visible-changed");
                }
            }
        }
    }
}
</script>
