<template lang="pug">
v-toolbar(
    clipped-left
    flat
)
    v-toolbar-side-icon(v-if="sidebarVisible" @click="onSidebarClick")
    span.title.ml-3.mr-5
        span.font-weight-light {{title}}
    v-spacer
    v-btn(icon='')
        v-icon search
    v-btn(icon='')
        v-icon person
</template>


<script>
export default {
    name: "dashboard-toolbar",
    data: ()=> ({
        sidebarVisible: true
    }),
    props: {
        title: String
    },
    methods: {
        onSidebarClick: function() {
            this.$emit("event-sidebar-click");
        },
        onWindowResized: function() {
            if(window.innerWidth < 1264) {
                this.sidebarVisible = true;
            } else {
                this.sidebarVisible = false;
            }
        }
    },
    mounted() {
        window.addEventListener("resize",this.onWindowResized);
    },
    beforeDestroy() {
        window.removeEventListener("resize",this.onWindowResized);
    },
}
</script>