<template lang="pug">
v-flex(
    xs6
)
  v-card(color="blue-grey darken-2" class="white--text")
    v-container
      v-list-tile( avatar='', @click='')
        v-list-tile-avatar
          slot(name="img")
        v-list-tile-content
          v-list-tile-title
            h3 {{title}}
          v-list-tile-sub-title {{subTitle}}
      v-card-actions
        v-tooltip(
          bottom
          v-for='(icon,index) in icons'
          :key='index'
        )
          template(v-slot:activator="{ on }")
            v-btn(
              dark 
              icon
              @click="onClick(index)"
            )
              v-icon(
                :class="icon.class"
                v-on="on"
              )
          span {{icon.name}}
</template>


<script>
export default {
  name: "dashboard-card",
  props: ['title','subTitle', "icons"],
  methods: {
    onClick: function(index) {
      this.$emit("icon-click",index);
    }
  }
}
</script>