<template lang="pug">
    dashboard
        dashboard-filter(slot="filter")
        dashboard-toolbar(slot="toolbar")
        dashboard-drawer(slot="drawer")
        router-view(slot="view")
            
</template>

<script>
import Layout from "../layouts/dashboard/Layout.vue";
import Filter from "../layouts/dashboard/Filter.vue";
import Drawer from "../components/dashboard/Drawer.vue";
import Toolbar from "../components/dashboard/Toolbar.vue";


export default {
    components: {
        'dashboard': Layout,
        'dashboard-filter': Filter,
        'dashboard-drawer': Drawer,
        'dashboard-toolbar': Toolbar
    }
}
</script>