<template lang="pug">
  v-app
    v-content
      v-container(fluid fill-height)
        v-layout(align-center, justify-center)
          UserLoginForm(
            @event-login="goToDashboard"
          )
            v-btn(
              absolute
              color="orange"
              class="white--text"
              fab
              large
              right
              top
              @click.stop="dialog=true"
            )
              v-icon mdi-plus
        v-dialog(v-model='dialog', persistent='', max-width='600px')
          UserSignupForm(
            @event-cancel="onSignupCancel"
            @event-commit="onSignupCommit"
          )
</template>

<script>
import UserLoginForm from "@/components/users/UserLoginForm.vue";
import UserSignupForm from "@/components/users/UserSignupForm.vue";

export default {
  data: () => ({
    dialog: false
  }),
  components: {
    UserLoginForm,
    UserSignupForm
  },
  methods: {
    onSignupCancel: function() {
      this.dialog = false;
    },
    onSignupCommit: function() {
      this.dialog = false;
      this.goToDashboard();
    },
    goToDashboard: function() {
      this.$router.push("dashboard");
    }
  }
}
</script>
