<template>
  <div>
    <div class="flex flex-column mt3">
        <input
            class="mb2"
            v-model="email"
            type="email"
            placeholder="이메일을 입력해 주세요.">
        <input
            class="mb2"
            v-model="username"
            type="text"
            placeholder="이름을 입력해주세요">
        <input
            class="mb2"
            v-model="password"
            type="password"
            placeholder="8~16자 비밀번호를 입력해주세요">
    </div>
    <button @click="CreateUser()">Submit</button>
  </div>
</template>

<script>
import { CREATE_USER_MUTATION } from "../constants/graphql";

export default {
    name: 'CreateUser',
    data () {
        return {
            email: '',
            username: '',
            password: ''
        }
    },
    methods: {
        CreateUser: async function(){
            const { email,username,password } = this.$data;
            
            try {
                const response = await this.$apollo.mutate({
                    mutation: CREATE_USER_MUTATION,
                    variables: {
                        email,
                        username,
                        password
                    }
                });

                localStorage.setItem("token",response.data.signup);

            } catch(err) {
                console.log(err);
            }
        }
    }
}
</script>