<template>
  <div>
    <user-item
      v-for="user in users"
      :key="user.id"
      :user="user">
    </user-item>
  </div>
</template>

<script>
  import UserItem from './UserItem'
  import { ALL_USERS_QUERY } from "../constants/graphql"

  export default {
    name: 'UserList',
    data () {
      return {
        users: [],
        loading: 0
      }
    },
    components: {
      UserItem
    },
    apollo: {
      users: {
        query: ALL_USERS_QUERY
      }
    }
  }
</script>

<style>

</style>