<template lang="pug">
v-layout(wrap)
  v-container.grey.lighten-4(fluid)
    //- cards
    v-card
      v-container(
          fluid
          grid-list-md
      )
        v-layout(
            row
            wrap
        )
          CardWallet(
            @wallet-copy="walletCopyToClipboard"
            :onDialog="onDialog"
            :walletAddress="walletAddress"
          )
          CardBalance
  v-container.grey.lighten-4(fluid)
    v-card
      v-container.grid-list-md.fluid
        FormTransaction
  v-snackbar(
      v-model='snackbar.visible'
      bottom
      :timeout="600"
  )
    | {{snackbar.message}}
    v-btn(color='pink', flat='', @click='snackbar = false')
        | Close
  v-dialog(v-model='dialog', width='400')
    v-card
        v-card-title(headline class="grey lighten-2")
            h2 Adress
        v-container(
          text-xs-center
          fluid
        )
          qrcode-vue#qrcode-vue(:value="walletAddress" :size="100" level="H")
          v-card-text {{walletAddress}}
          v-btn(
            color='primary'
            flat
            @click='walletCopyToClipboard'
          )
            | Copy

</template>

<script>
import { DASHBOARD, WEB3 } from "@/constants/store";
import CardWallet from "./send/CardWallet.vue";
import CardBalance from "./send/CardBalance.vue";
import QrcodeVue from "qrcode.vue";
import FormTransaction from "./send/FormTransaction.vue";
import { mapState, mapActions } from "vuex";
import { clipboardCopyMixin } from "@/mixins";
import getWeb3 from '../../../util/getWeb3';


export default {
  mixins:[clipboardCopyMixin],
  data: ()=>({
    dialog: false
  }),
  computed: {
    ...mapState({
      snackbar: state => state.dashboard.snackbar,
      walletAddress: state => state.web3.coinbase
    })
  },
  methods:{
    ...mapActions("dashboard",[
      DASHBOARD.ACTIONS.SET_ON_SNACKBAR
    ]),
    ...mapActions("web3", [
      WEB3.ACTIONS.INIT,
      WEB3.ACTIONS.REFRESH_BALANCE
    ]),
    walletCopyToClipboard: function() {
      this.doClipboardCopy(this.walletAddress);
      this[DASHBOARD.ACTIONS.SET_ON_SNACKBAR]({
          visible: true,
          message: "복사되었습니다."
      });
    },
    onDialog: function(){
      this.dialog = true;
    }
  },
  beforeCreate: async function() {
    try {
      const web3 = await getWeb3;

      this[WEB3.ACTIONS.INIT](web3);
      this[WEB3.ACTIONS.REFRESH_BALANCE]();

    } catch(err) {
      console.error(err);
    }
    
  },
  components:{
    CardWallet,
    QrcodeVue,
    CardBalance,
    FormTransaction
  }
}
</script>


<style lang="scss" scoped>
#qrcode-vue {
    text-align: center;
    padding: 10px;
}
</style>
