<template lang="pug">
    Drawer(
        :items="items"
        :imageUrl="imageUrl"
        :username="name"
        :visible="drawerVisible"
        @visible-changed="drawerVisibleChange"
    )
</template>


<script>
import Drawer from "../../layouts/dashboard/Drawer.vue";
import { mapState,mapActions } from "vuex"; 
import { DASHBOARD } from "@/constants/store";



const { ACTIONS } = DASHBOARD;

export default {
    data: ()=> ({
        items: [
            { title: '발신', icon: 'dashboard', to:"/dashboard/send" },
            { title: '내역보기', icon: 'question_answer', to:"/dashboard/view" },
            { title: "기능", icon: "dashboard" , to : "/dashboar"},
            { title: "내 정보", icon: "dashboard" , to : "/methods"},
            { title: "로그아웃", icon: "dashboard" , to : "/methods"}
        ],
        imageUrl: "https://randomuser.me/api/portraits/men/85.jpg",
        name: "ksin",
    }),
    computed: {
        ...mapState({
            drawerVisible: state => state.dashboard.drawerVisible
        }),
    },
    methods: {
        ...mapActions("dashboard",[ACTIONS.DRAWER_VISIBLE_CHANGE])
    },
    components:{
        Drawer
    }
}
</script>
