<template lang="pug">
    Toolbar(
        :title="title"
        @event-sidebar-click="drawerVisibleChange"
    )
</template>


<script>
import Toolbar from "../../layouts/dashboard/Toolbar.vue"
import { DASHBOARD } from "@/constants/store";
import { mapState, mapActions } from 'vuex'

export default {
    data: ()=> ({
        title: "title"
    }),
    computed: mapState({
        drawerVisible: state => state.dashboard.drawerVisible
    }),
    methods: mapActions("dashboard",[
        DASHBOARD.ACTIONS.DRAWER_VISIBLE_CHANGE
    ]),
    components:{
        Toolbar
    }
}
</script>